﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
  @* <div class="col-md-12">
  </div> *@
    <table id="dtMaterialDesignExample" class="table table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Name
          </th>
          <th>Email
          </th>
          <th>Region
          </th>
          <th>Position
          </th>
          <th>Division
          </th>
          <th>Extension Number
          </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
</div>

@section Scripts {
  <script type="text/javascript">
      // Animations initialization
      @* new WOW().init(); *@
      $('#dtMaterialDesignExample').DataTable({
          ajax: {
              url: '/Home/LoadData',
              type: 'POST',
              dataSrc: function (json){
                  if(json.lastUpdate){
                      @* $("#some_span").html(json.ryansCustomVariable); *@
                      $(".text-white").html("Last Update : " + json.lastUpdate);
                  }
                  return json.data;
              }
          },
          columns: [
                  {"data": "employeeName"},
                  {"data": "email"},
                  {"data": "regionOffice"},
                  {"data": "jabatan"},
                  {"data": "divisi"},
                  {"data": "extensionNumber"},
          ],
          scrollX: true,
          scrollCollapse: true
      });
  </script>
}