﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    @* <title>@ViewData["Title"] - Phone Extension - First Resources Group</title> *@
    <title>Phone Extension - First Resources Group</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="~/lib/lib/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="~/lib/lib/css/mdb.min.css" rel="stylesheet">
    <!-- Datatables CSS -->
    <link href="~/lib/lib/css/addons/datatables.min.css" rel="stylesheet">
</head>
<body class="fixed grey lighten-3">
    <!--Main layout-->
    <main class="pb-5 mx-lg-5">
        <div class="container-fluid mt-5">

            <section class="mb-5">

                <!-- Card -->
                <div class="card card-cascade narrower">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-xl-12 col-md-12 mr-0">

                            <!-- Card title -->
                            <div class="view view-cascade gradient-card-header blue-gradient lighten-1">
                              <h4 class="h4-responsive mb-0 font-weight-bold"><i class="fas fa-phone"></i> Phone Extension</h4>
                              <small class="text-white"></small>
                            </div>
                            <!-- Card title -->

                            <!-- Card content -->
                            <div class="card-body card-body-cascade pb-0">
                                <div class="container">
                                    @RenderBody()
                                </div>
                                <!-- /container -->

                            </div>
                            <!-- Card content -->

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Card -->

            </section>

        </div>
    </main>
    <!--/. Main layout-->

    <!-- Footer -->
    <footer class="page-footer font-small blue fixed-bottom">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 
      <a href="#">Phone Extension</a> IT Division First Resources Group
    </div>
    <!--/. Copyright -->

    </footer>
    <!--/. Footer -->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/lib/lib/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/lib/lib/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/lib/lib/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/lib/lib/js/mdb.min.js"></script>
    <!-- Datatables JavaScript -->
    <script type="text/javascript" src="~/lib/lib/js/addons/datatables.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
